jenkins:
  systemMessage: "Jenkins configured by Ansible"

  securityRealm:
    local:
      allowsSignup: false
      users:
        - id: admin
          password: admin

  authorizationStrategy:
    loggedInUsersCanDoAnything:
      allowAnonymousRead: false

  remotingSecurity:
    enabled: true

  slaveAgentPort: 50000

  clouds:
    - kubernetes:
        name: "kubernetes"
        serverUrl:  "https://FFB1EE9D93509B8281DE4FFF6931B7D0.gr7.us-east-1.eks.amazonaws.com"
        namespace: "jenkins"
        jenkinsUrl: "http://44.222.139.122:8080"
        jenkinsTunnel: "44.222.139.122:50000"
        containerCapStr: "10"
        templates:
          - name: "jenkins-agent"
            label: "jenkins-agent"
            serviceAccount: "jenkins"
            containers:
              - name: jnlp
                image: jenkins/inbound-agent
                ttyEnabled: true
              - name: kaniko
                image: gcr.io/kaniko-project/executor:debug
                command: "sleep"
                args: "infinity"
                ttyEnabled: true
              - name: sonar-scanner
                image: sonarsource/sonar-scanner-cli:latest
                command: "sleep"
                args: "infinity"
                ttyEnabled: true
