jenkins:
  systemMessage: "Jenkins configured by Ansible"

  securityRealm:
    local:
      allowsSignup: false
      users:
        - id: admin
          password: admin

  authorizationStrategy:
    loggedInUsersCanDoAnything:
      allowAnonymousRead: false

  remotingSecurity:
    enabled: true

  slaveAgentPort: 50000

  clouds:
    - kubernetes:
        name: "kubernetes"
        serverUrl:  "https://8AB0B8FB6B70D5AC022875A3B15713D3.gr7.us-east-1.eks.amazonaws.com"
        namespace: "jenkins"
        jenkinsUrl: "http://32.195.45.191:8080"
        jenkinsTunnel: "32.195.45.191:50000"
        containerCapStr: "10"
        templates:
          - name: "jenkins-agent"
            label: "jenkins-agent"
            serviceAccount: "jenkins"
            containers:
              - name: jnlp
                image: jenkins/inbound-agent
                ttyEnabled: true
              - name: kaniko
                image: gcr.io/kaniko-project/executor:debug
                command: "sleep"
                args: "infinity"
                ttyEnabled: true
              - name: sonar-scanner
                image: sonarsource/sonar-scanner-cli:latest
                command: "sleep"
                args: "infinity"
                ttyEnabled: true
              - name: check-dependencies
                image: owasp/dependency-check:latest
                command: "sleep"
                args: "infinity"
                ttyEnabled: true
              - name: trivy
                image: aquasec/trivy:latest
                command: "sleep"
                args: "infinity"
                ttyEnabled: true